<div class="loader-center" *ngIf="loading">
  <div class="loader"></div>
</div>

<section class="my-modal" *ngIf="!loading">

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()" id="closeButton">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-body">

    <div class="image">
      <img data-toggle="modal" [attr.data-target]="'#' + user.name.toLowerCase()" [src]="user.avatarUrl"
           class="rounded-circle avatar-image no-hover big">
    </div>

    <div class="my-header">

      <div class="row">
        <div class="col-12 accent-text big">{{user.name}}</div>
      </div>

      <div class="row my-header-boxes">
        <div class="col-12 col-lg-4">
          <span class="header-text">member for</span>
          <span [ngbTooltip]="user.memberFor | date: 'dd/MM/yyyy'" class="header-response">{{user.memberFor | myDatePipe}}</span>
        </div>
        <div class="col-12 col-lg-4">
          <span class="header-text">last seen</span>
          <span [ngbTooltip]="user.lastSeen | date: 'dd/MM/yyyy'" class="header-response">{{user.lastSeen | myDatePipe}}</span>
        </div>
        <div class="col-12 col-lg-4">
          <div class="activity">
            <span>activity level</span>
            <i class="star material-icons colored" *ngFor="let number of colorStars">stars</i>
            <i class="star material-icons" *ngFor="let number of normalStars">stars</i>
          </div>
        </div>
      </div>
    </div>

    <div class="my-hr"></div>

    <div class="modal-my-content">


      <div class="stats">

        <div class="row header">
          <div class="col-12">
            <h2 class="title">How it all started</h2>
            <div class="subtitle">that's where we have been these 5 months ago</div>
          </div>
        </div>

        <div class="row stats-boxes">

          <div class="col-6 col-lg-3">
            <div class="outer rot50">
              <div class="middle">
                <div class="inner rot50">
                  <div class="stat-res">{{user.peers}}</div>
                  <div class="stat-text">peers</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-3">
            <div class="outer rot-n-10">
              <div class="middle">
                <div class="inner rot-n-10">
                  <div class="stat-res">{{user.discussions}}</div>
                  <div class="stat-text">discussions</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-3">
            <div class="outer rot50">
              <div class="middle">
                <div class="inner rot50">
                  <div class="stat-res">{{user.findings}}</div>
                  <div class="stat-text">findings</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-3">
            <div class="outer rot10">
              <div class="middle">
                <div class="inner rot10">
                  <div class="stat-res">{{user.questions}}</div>
                  <div class="stat-text">questions</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- /stats -->

      <div class="relationships">
        <div class="row header ">
          <div class="col-12">
            <div class="subtitle">who joined the platform that same period</div>
          </div>
        </div>

        <div class="row relationships-boxes">
          <div class="box" *ngFor="let sameUser of usersWithSamePeriod">
            <div class="pattern-box">
              <img [src]="sameUser.avatarUrl" class="rounded-circle avatar-image" (click)="closeAndOpen(sameUser)">
            </div>
            <div class="accent-text">{{sameUser.name}}</div>
          </div>

          <div *ngIf="usersWithSamePeriod.length === 0">
            <div class="box no-connections">No connections</div>
          </div>
        </div>

      </div> <!-- /relationships-->

      <div class="hottest-discussion">
        <div class="row header ">
          <div class="col-12">
            <div class="subtitle">the hottest discussion these days</div>
          </div>
        </div>

        <div class="row hottest-discussion-boxes" *ngIf="hottestDiscussion">
          <div class="col-12 ">
            <div class="avatar">
              <img [src]="hottestDiscussion.author.avatarUrl" class="rounded-circle avatar-image"
                   (click)="closeAndOpen(hottestDiscussion.author)">
            </div>

            <div class="info">
              <span class="accent-text my-link" (click)="closeAndOpen(hottestDiscussion.author)">{{hottestDiscussion.author.name}}</span>
              <span class="normal-text">is asking: </span>
            </div>
            <div class="accent-text my-link" (click)="closeModal()" [routerLink]="['/', hottestDiscussion.author.name.toLowerCase().split('.').join('-'), hottestDiscussion.id]">
              {{hottestDiscussion.title}}
            </div>

            <div class="row more">
              <div class="col-6 col-lg-3">
                <div class="one-info"><span class="accent">{{hottestDiscussion.peers}}</span> peers involved</div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="one-info"><span class="accent">{{hottestDiscussion.related}}</span> related discussion</div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="one-info"><span class="accent">{{hottestDiscussion.conversations}}</span> conversations</div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="one-info">
                  <span class="accent">{{hottestDiscussion.votes | absolutePipe }}</span>
                  <span *ngIf="hottestDiscussion.votes === 0 ">votes</span>
                  <span *ngIf="hottestDiscussion.votes > 0 ">upvotes</span>
                  <span *ngIf="hottestDiscussion.votes < 0 ">downvotes</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /hottest-discussion -->

    </div> <!-- /modal-my-content -->

  </div>

</section>
