@import '../_helpers/variables'
@import '../_helpers/mixins'

.my-header
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px $box-shadow-color
  background: white
  padding: 10px 0
  text-align: center
  @media #{$large}
    text-align: left

.container
  padding: 0

.logo
  font-size: 1.5rem
  font-weight: 700
  text-transform: uppercase
  cursor: pointer
  transition: transform 200ms ease-in-out
  &:hover
    transform: scale(1.05)
.first-row
  @include d-flex
  @include flex-align-center
  justify-content: space-between
  margin-right: 0
  flex-direction: column
  @media #{$medium}
    flex-direction: row

.second-row
  @include d-flex
  @include flex-align-center
  justify-content: center

.title
  @include d-flex
  @include flex-align-center

  button
    margin: 0 20px

.options
  margin-top: 10px
  @media #{$medium}
    margin-top: 10px
  label
    &:last-child
      padding-left: 50px

.sort-by
  font-style: italic
  @media #{$medium}
    margin-top: 5px

.time
  margin-top: 20px
  @media #{$medium}
    margin-top: 0

.select-link
  font-style: normal
  font-weight: 600
  padding: 7px
  cursor: pointer
  &:hover
    text-decoration: underline
  &.not-selected
    color: $bootstrap-primary-color
  &.selected
    color: $box-shadow-color
    text-decoration: underline
    font-style: normal

.btn-circle
  cursor: pointer
  height: 26px
  width: 26px
  padding: 0
  border-radius: 50%
  margin-top: -5px
  margin-left: 20px

.btn-go-back
  background: transparent
  border: 1px solid $box-shadow-color
  color: $box-shadow-color
  &:hover
    border: 1px solid black
    color: black
  &.disabled
    cursor: not-allowed
    border: 1px solid $box-shadow-color
    color: $box-shadow-color


.search
  margin: 20px 0 10px 0
  width: 100%
  .input-group
    display: inline-block
    @media #{$small}
      display: flex
  @media #{$small}
    padding: 0 15px

#search-input
  border-radius: 0
  width: 100%
  background-color: $background-color

.my-search-button
  border-radius: 0
  text-transform: uppercase
  font-weight: 600
  margin-top: 10px
  @media #{$small}
    margin-top: 0
    margin-left: 20px
    padding: 0 50px
