@import '../_helpers/variables'
@import '../_helpers/mixins'
.my-header
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  background: white
  padding: 10px 0
  text-align: center
  @media #{$large}
    text-align: left

.container
  padding: 0

.first-row
  @include d-flex
  @include flex-align-center
  justify-content: space-between
  margin-right: 0
  flex-direction: column
  @media #{$medium}
    flex-direction: row
//@media #{$medium}
//  margin-bottom: 20px
//padding-right: 15px

.second-row
  @include d-flex
  @include flex-align-center
  justify-content: center

.title
  @include d-flex
  @include flex-align-center
  span
    font-size: 1.5rem
    font-weight: 700
    text-transform: uppercase
  button
    margin: 0 20px

.options
  margin-top: 10px
  @media #{$medium}
    margin-top: 10px
  label
    &:last-child
      padding-left: 50px

.sort-by
  font-style: italic
  @media #{$medium}
    margin-top: 5px

.time
  margin-top: 20px
  @media #{$medium}
    margin-top: 0

.select-link
  font-style: normal
  font-weight: 600
  padding: 7px
  cursor: pointer
  &:last-child
    padding-right: 0
  &:hover
    text-decoration: underline
  &.not-selected
    color: $bootstrap-primary-color
  &.selected
    color: $box-shadow-color
    text-decoration: underline
    font-style: normal

.btn-circle
  cursor: pointer
  height: 26px
  width: 26px
  padding: 0
  border-radius: 50%
  margin-top: -5px
  margin-left: 20px

.btn-go-back
  background: transparent
  border: 1px solid $box-shadow-color
  color: $box-shadow-color
  &.disabled
    cursor: not-allowed

.search
  width: 100%
  margin: 20px 0 10px 0
  padding: 0 15px

#search-input
  border-radius: 0
  background-color: $background-color

.my-search-button
  border-radius: 0
  text-transform: uppercase
  margin-left: 20px
  font-weight: 600
  @media #{$medium}
    padding: 0 50px
