<section class="container" (window:resize)="onResize($event)">
  <div class=" my-card">

    <div class="row">
      <div class="col-12 col-lg-8 single-question-header">

        <app-profile-modal [user]="question.author"></app-profile-modal>

        <div class="header-title">
          <a data-toggle="modal" [attr.data-target]="'#' + question.author.name.toLowerCase()" class="author">
            {{question.author.name}}
          </a>
          <span class="subtitle">is asking:</span>

          <a class="question">{{question.title}}</a>
        </div>
      </div> <!-- /header -->

    </div>

    <div class="row">
      <div class="col-8 single-question-answers">

        <div class="row">

          <div class="col-6 col-sm-4 col-lg-2 hidden-sm-down">
            <div class="small-card first">
              <div class="footer line">asked</div>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-2">
            <div class="small-card second">
              {{moreActivities}}
              <div class="footer">more activities</div>
              <div class="my-dot commented"></div>
            </div>
          </div>


          <!--&lt;!&ndash; For small devices &ndash;&gt;-->
          <!--<div class="col-6 col-sm-4 hidden-lg-up">-->
          <!--<div class="small-card normal">-->
          <!--<div class="small-card-content">-->
          <!--<app-profile-modal [user]="answersArray[answersArray.length-1]"></app-profile-modal>-->
          <!--<div class="footer line">{{answersArray[answersArray.length-1].type}}</div>-->
          <!--<div class="my-dot commented"></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

          <!--&lt;!&ndash; For large devices&ndash;&gt;-->
          <!--<div class="col-lg-2 hidden-md-down" *ngFor="let answer of answersArrayForLarge">-->
          <!--<div class="small-card normal">-->
          <!--<div class="small-card-content" style="">-->
          <!--<app-profile-modal [user]="answer"></app-profile-modal>-->
          <!--<div class="footer line">{{answer.type}}</div>-->
          <!--<div class="my-dot commented"></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

          <!-- For large devices-->
          <div class="col-lg-2" *ngFor="let answer of answersArrayForLarge; let i=index"
               [ngClass]="{'col-6 col-sm-4': i === 0, 'hidden-md-down': i > 0}">
            <div class="small-card normal">
              <div class="small-card-content" style="">
                <app-profile-modal [user]="answer.answerAuthor"></app-profile-modal>
                <div class="footer line">{{answer.type}}</div>
                <div class="my-dot commented"></div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-4 single-question-more">
        <div style="">
          <div class="one-info"><span>1</span> related discussion</div>
          <div class="one-info"><span>6</span> peers involved</div>
          <div class="one-info"><span>3</span> conversations</div>
        </div>
      </div>
    </div>

  </div>

</section>
