<ng-container *ngIf="question">

  <div class="question-card container">

    <div class="row bg-accent">

      <div class="col-12 col-lg-1 header">
        <app-profile [user]="question.author"></app-profile>
        <div class="header-title hidden-lg-up">
          <span class="author" (click)="openProfileModal(question.author)">{{question.author.name}}</span>
          <span class="subtitle">is asking: </span>
          <span class="question">{{question.title}}</span>
        </div>
      </div>


      <div class="col-12 col-lg-10">

        <div class="header-title hidden-md-down">
          <span class="author" (click)="openProfileModal(question.author)">{{question.author.name}}</span>
          <span class="subtitle">is asking: </span> <br>
          <span class="question">{{question.title}}</span>
        </div>

      </div>
      <div class="col-lg-1 hidden-md-down">
        <div class="follow">
          <span>unfollow</span>
        </div>
      </div>

    </div>


    <div class="row second-row">
      <!-- empty, colorized column-->

      <div class="col-lg-1 hidden-sm-down first-col"></div>

      <!-- question text-->
      <div class="col-12 col-lg-9">
        <div class="question-text">
          {{question.text}}
        </div>
      </div>

      <!-- follow / votes -->
      <div class="col-12 col-lg-2 follow-votes">

        <div class="follow hidden-lg-up">
          <span>unfollow</span>
        </div>

        <div class="votes normal-text">
          <span class="bold">{{question.votes | absolutePipe}}</span>
          <span *ngIf="question.votes > 0 ">upvotes</span>
          <span *ngIf="question.votes < 0 ">downvotes</span>
          <div class="arrows">
            <fieldset [disabled]="disVoteUp" class="arrow-top" (click)="voteUp()" [ngClass]="{'disabled': disVoteUp}"></fieldset>
            <fieldset [disabled]="disVoteDown" class="arrow-bottom" (click)="voteDown()" [ngClass]="{'disabled': disVoteDown}"></fieldset>
          </div>
        </div>


      </div>
    </div> <!-- /row -->
    <div class="give-answer"><span>give</span> answer</div>
  </div> <!-- /question-card -->


  <div class="container responses-content">
    <div class="row">
      <div class="col-12 answers-info">
        <span>{{answers}}</span> peers already answered {{question.author.name}}
      </div>
    </div>

    <app-answer *ngFor="let response of answersWithComments" [response]="response"></app-answer>


  </div> <!-- /responses-content -->

</ng-container> <!-- /container -->



