@import '../../_helpers/variables'

.my-card
  box-shadow: 0 1px 3px $box-shadow-color
  background: #fff
  margin-top: 30px
  color: $primary-text-color-dark


.row
  margin: 0

// HEADER ------------------------------------------------
.single-question-header
  background: $accent-color
  box-shadow: 0 1px 3px $box-shadow-color
  padding: 15px 8px
  color: $bootstrap-primary-color
  .header-title
    overflow: hidden
    padding-left: 35px
    display: block
    .author
      font-size: 1.1rem
      cursor: pointer
      &:hover
        text-decoration: underline
    .subtitle
      margin-left: 10px
      font-size: 0.8rem
      text-transform: uppercase
      color: $primary-text-color-dark

.question
  margin-top: 50px
  @media #{$small}
    margin-top: 10px
    margin-left: 85px
  display: block
  font-style: italic
  font-size: 1.2rem


// QUESTION CONTENT ----------------------------------
.my-column
  background: $accent-color
  height: 100%
  margin-left: -30px
  //margin-top: 50px
  box-shadow: 3px 1px 1px -3px $box-shadow-color, -3px -1px 1px -3px $box-shadow-color
  border-top: none
  border-bottom: none

.question-text
  padding: 25px 0 40px 0

// UNFOLLOW
.unfollow
  padding: 25px 0 40px 0
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  font-style: normal
  color: $bootstrap-primary-color


// UPVOTES
.upvotes
  padding: 25px 0 40px 0
  display: flex
  justify-content: flex-end
  align-items: center
  font-style: italic
  .bold
    margin-right: 10px
    font-style: normal
    font-size: 1.1rem
    font-weight: 700

.arrows
  margin-left: 20px
  .arrow-top
    height: 15px
    width: 15px
    border-bottom: 14px solid $bootstrap-primary-color
    border-right: 11px solid transparent
    border-left: 11px solid transparent
    margin-bottom: 10px
    cursor: pointer
    &:hover
      border-bottom-color: darken($bootstrap-primary-color, 10%)

  .arrow-bottom
    height: 15px
    width: 15px
    border-top: 14px solid $bootstrap-primary-color
    border-right: 11px solid transparent
    border-left: 11px solid transparent
    cursor: pointer
    &:hover
      border-top-color: darken($bootstrap-primary-color, 10%)

// NEW ANSWER BUTTON
.new-answer
  color: black
  font-size: 0.8rem
  padding: 10px 20px
  @media #{$medium}
    font-size: 1rem
    padding: 10px 40px
  border: 1px solid $box-shadow-color
  position: absolute
  bottom: -20px
  left: 50%
  transform: translateX(-50%)
  background: white
  cursor: pointer
  span
    text-transform: uppercase

// RESPONSES CONTENT -----------------------------------------------
.responses-content
  margin-top: 70px

.response-info
  text-align: center
  span
    font-weight: 700
    margin-right: 10px

.response
  margin-top: 40px
  background: white
  box-shadow: 0 1px 3px $box-shadow-color
  .avatar
    display: flex
    justify-content: center
    border-right: 1px solid $box-shadow-color

.response-header
  padding: 10px

.response-text
  padding: 10px

// CONTINUE DISCUSSION
.comment
  color: black
  font-size: 0.8rem
  padding: 10px 20px
  @media #{$medium}
    font-size: 1rem
    padding: 10px 40px
  border: 1px solid $box-shadow-color
  position: absolute
  bottom: -20px
  left: calc(50% - 2rem)
  transform: translateX(-50%)
  background: white
  cursor: pointer
  span
    text-transform: uppercase



// OTHERS ----------------------------------
.accent-text
  font-size: 1.1rem
  color: $bootstrap-primary-color
  &.big
    font-size: 1.5rem

.normal-text
  font-size: 1rem
  color: $primary-text-color-dark

.my-link
  cursor: pointer
  &:hover
    text-decoration: underline

.subtitle
  margin-left: 10px
  font-size: 0.8rem
  text-transform: uppercase
  color: $primary-text-color-dark

.italic-text
  color: darken($primary-text-color-dark, 20%)
  font-size: 1rem
  font-style: italic
