<section class="app-content">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <!--<app-questions-list></app-questions-list>-->
  <!--<app-single-question></app-single-question>-->

  <!--<div>-->
    <!--<h3> {{title}}</h3>-->
    <!--<input type="text" [(ngModel)]="queryString" id="search" placeholder="Search to type">-->

    <!--<ul>-->
      <!--<li *ngFor="let n of names | SearchPipe: queryString">-->
        <!--{{n}}-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

  <br><br>
</section>
