<section class="container" (window:resize)="onResize($event)">
  <div class=" my-card">

    <div class="row">
      <div class="col-12 col-lg-8 single-question-header">

        <app-profile [user]="question.author"></app-profile>

        <div class="header-title">
          <a data-toggle="modal" (click)="open(question.author)" class="author">
            {{question.author.name}}
          </a>
          <span class="subtitle">is asking:</span>

          <a class="question">{{question.title}}</a>
        </div>
      </div> <!-- /header -->

    </div>

    <div class="row">
      <div class="col-8 single-question-response">

        <div class="row">

          <div class="col-6 col-sm-4 col-lg-2 hidden-sm-down">
            <div class="small-card first">
              <div class="footer line">asked</div>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-2">
            <div class="small-card second">
              {{moreActivities}}
              <div class="footer">more activities</div>
              <div class="my-dot commented"></div>
            </div>
          </div>

          <!-- For large devices-->
          <div class="col-lg-2" *ngFor="let answer of responseArrayForDisplay; let i=index"
               [ngClass]="{'col-6 col-sm-4': i === 0, 'hidden-md-down': i > 0}">
            <div class="small-card normal">
              <div class="small-card-content" style="">
                <app-profile [user]="answer.answerAuthor"></app-profile>
                <div class="footer line">{{answer.type}}</div>
                <div class="my-dot"
                     [ngClass]="{'answered': answer.type === 'answered', 'commented': answer.type === 'commented'}">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-4 single-question-more">
        <div class="more">
          <div class="one-info"><span>1</span> related discussion</div>
          <div class="one-info"><span>6</span> peers involved</div>
          <div class="one-info"><span>3</span> conversations</div>
        </div>
      </div>
    </div>

  </div>
</section>
