<section class="container" (window:resize)="onResize($event)">
  <div class=" my-card">

    <div class="row">
      <div class="col-12 col-lg-8 card-header">

        <app-profile [user]="question.author"></app-profile>

        <div class="header-title">
          <span class="author my-link" (click)="openProfileModal(question.author)">
            {{question.author.name}}
          </span>
          <span class="subtitle">is asking:</span>

          <span class="question my-link" [routerLink]="['', question.author.name.toLowerCase().split('.').join('-'), question.id]">
            {{question.title}}
          </span>
        </div>
      </div> <!-- /header -->

    </div>

    <div class="row">
      <div class="col-8 answers">

        <div class="row">

          <div class="col-md-2 hidden-md-down">
            <div class="small-card first">
              <div class="footer line">asked</div>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-2">
            <div class="small-card second">
              {{activities}}
              <div class="footer">more activities</div>
              <div class="my-dot commented"></div>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-2" *ngFor="let answer of responseArrayForDisplay; let i=index"
               [ngClass]="{'hidden-xs-down': i === 1, 'hidden-md-down': i > 1}">
            <div class="small-card normal">
              <div class="small-card-content">
                <app-profile [user]="answer.author"></app-profile>
                <div class="footer line">
                  <span *ngIf="answer.type === 'ANSWER'">answered</span>
                  <span *ngIf="answer.type === 'COMMENT'">commented</span>
                </div>
                <div class="my-dot" [ngClass]="{'answered': answer.type === 'ANSWER', 'commented': answer.type === 'COMMENT'}">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-4 single-question-more">
        <div class="more">
          <div class="one-info"><span>{{question.related}}</span> related discussion</div>
          <div class="one-info"><span>{{question.peers}}</span> peers involved</div>
          <div class="one-info"><span>{{question.conversations}}</span> conversations</div>
        </div>
      </div>
    </div>

  </div>
</section>
