<div class="avatar">
  <img data-toggle="modal" [attr.data-target]="'#' + user.name.toLowerCase()" [src]="user.avatarUrl"
       class="rounded-circle avatar-image">
</div>
<!-- [attr.data-target]="'#' + user.name.toLowerCase()" -->
<!-- Modal -->
<div class="modal fade" [id]="user.name.toLowerCase()" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeButton">
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="modal-body">

        <div class="image">
          <img data-toggle="modal" [attr.data-target]="'#' + user.name.toLowerCase()" [src]="user.avatarUrl"
               class="rounded-circle avatar-image no-hover big">
        </div>

        <div class="modal-my-header">

          <div class="row">
            <div class="col-12 user-name">{{user.name}}</div>
          </div>

          <div class="row text-center">
            <div class="col-4">
              <span class="header-text">member for</span>
              <span class="header-response">5 months</span>
            </div>
            <div class="col-4">
              <span class="header-text">last seen</span>
              <span class="header-response"> Saturday afternoon</span>
            </div>
            <div class="col-4">
              <span class="header-text">activity level</span>
            </div>
          </div>
        </div>

        <div class="my-hr"></div>

        <div class="modal-my-content">


          <!--<div class="row offset-2 col-8 stats">-->
          <div class="stats">

            <div class="row header text-center">
              <div class="col-12">
                <h2 class="title">How it all started</h2>
                <div class="subtitle">that's where we have been these 5 months ago</div>
              </div>
            </div>

            <div class="row stats-boxes">

              <div class="col-3">
                <div class="outer rot50">
                  <div class="middle">
                    <div class="inner rot50">
                      <div class="stat-res">{{user.peers}}</div>
                      <div class="stat-text">peers</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-3">
                <div class="outer rot-n-10">
                  <div class="middle">
                    <div class="inner rot-n-10">
                      <div class="stat-res">{{user.discussions}}</div>
                      <div class="stat-text">discussions</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-3">
                <div class="outer rot50">
                  <div class="middle">
                    <div class="inner rot50">
                      <div class="stat-res">{{user.findings}}</div>
                      <div class="stat-text">findings</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-3">
                <div class="outer rot10">
                  <div class="middle">
                    <div class="inner rot10">
                      <div class="stat-res">{{user.questions}}</div>
                      <div class="stat-text">questions</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div> <!-- /stats -->

          <div class="relationships">
            <div class="row header text-center">
              <div class="col-12">
                <div class="subtitle">who joined the platform that same period</div>
              </div>
            </div>

            <div class="row relationships-boxes">

              <div class="col-4">
                <div class="pattern image">


                  <div class="">ktos</div>
                </div>
              </div>
              <div class="col-4">
                <div class="pattern">123</div>
              </div>
              <div class="col-4">
                <div class="pattern">123</div>
              </div>
            </div>

          </div>



          <!--</div> &lt;!&ndash; /row &ndash;&gt;-->

          <h2 class="stripe-1">Colored Stripes</h2>


        </div>

      </div>

    </div>
  </div>
</div>
