<div class="avatar">
  <img data-toggle="modal" [attr.data-target]="'#' + user.name.toLowerCase()" [src]="user.avatarUrl"
       class="rounded-circle avatar-image">
</div>
<!-- [attr.data-target]="'#' + user.name.toLowerCase()" -->
<!-- Modal -->
<div class="modal fade" [id]="user.name.toLowerCase()" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeButton">
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="modal-body">
        {{user.name}}
      </div>

    </div>
  </div>
</div>
